<li id="event-<%= event.id %>">
  <div class="font-weight-bold">
    <%= link_to event do %>
      <strong><%= event.title %></strong>
      <small><%= event.event_date %></small>
      <% if event.creator == current_user %>
        <strong>(Created)</strong>
      <% end %>
    <% end %>
  </div>
  <div><%= event.description %></div>
</li>
