<div class="create-event">
  <h2>Create an event</h2>

  <%= form_for @event do |f| %>
    <%= hidden_field_tag :creator_id, @event.creator_id %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form_control' %>
    <%= f.label :description %>
    <%= f.text_area :description, cols: "30", rows: "10", class: 'form_control' %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
