<header>
  <h1><%= link_to 'Private Events', root_path %></h1>
  <nav>
    <ul>
      <% if @current_user %>
        <li><%= link_to 'Create Event', new_event_path %></li>
      <% end %>
      <li><%= link_to 'All Events', events_path %></li>
      <% if @current_user %>
        <li><%= link_to 'Attending Events', @current_user %></li>
        <li><%= link_to 'Invitations', '/invitations' %></li>
      <% end %>
    </ul>
  </nav>
  <div id="user">
    <%= @current_user ? @current_user.name : 'Menu' %>
    <i class="icon fa fas fa-angle-down"></i>
    <div class="login">
      <%= @current_user ? (link_to 'Sign out', signout_path, method: :delete)
                       : (link_to 'Sign in' , signin_path) %>
    </div>
  </div>
</header>
